
.Updates{
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.update{
    display: flex;
    gap: 0.5rem;
}

.update>img{
    width: 3.2rem;
    height: 3.2rem;
}

.noti>div>span:nth-of-type(1){
    font-weight: bold;
}


.SocietyNotification {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .update {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .update img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
  }
  
  .noti {
    display: flex;
    flex-direction: column;
  }
  
  .event-name {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .event-desc {
    color: #555;
  }
  
  .event-date {
    color: #888;
    font-size: 0.9rem;
  }
  